# Entorno virtual
venv/
env/
ENV/
*.pyc
__pycache__/

# Base de datos local (Cada entorno debe tener la suya)
db.sqlite3

# Archivos de configuración local con contraseñas
.env

# Archivos de configuración de editores
.vscode/
.idea/
.DS_Store